

<div class="container">
  <p>
    <h1><strong>Title:</strong>
    <%= @article.title %></h1>
  </p>
  <p>
    <h5><strong>Text:</strong>
    <%= @article.text %><h5>
  </p>
  <hr>
 
  <h2>Comments</h2>
  <%= render @article.comments %>
 
  <hr>
  <h2>Add a comment:</h2>
  <%= render "comments/form" %>
 
  <%= link_to 'Edit Article', edit_article_path(@article) %> |
  <%= link_to 'Back to Articles', articles_path %>
</div>